<header aria-label="header">
  <div class="umd-lock">
    <a href="#main" class="umd-skip-content">Skip site navigation</a>
  </div>

  <umd-element-navigation-utility
    data-alert-off="true"
    data-layout-lock="full"
  ></umd-element-navigation-utility>

  <umd-element-navigation-sticky>
    <div class="umd-lock-full" slot="content">
      <umd-element-navigation-header
        role="navigation"
        search-url="https://search.umd.edu/"
      >
        <a
          href="https://umd.edu/"
          slot="logo"
          aria-label="University of Maryland"
        >
          <img
            src="https://umd-main.files.svdcdn.com/production/umd/logos/default/primary-logo-dark.svg?dm=1722455539"
            alt="University of Maryland"
            style="object-position: 50% 50%"
          />
        </a>

        <div slot="primary-slide-links">
          <a href="https://umd.edu/about" data-child-ref="about-35">
            <span>About</span>
          </a>

          <a href="https://umd.edu/academics" data-child-ref="academics-37">
            <span>Academics</span>
          </a>

          <a href="https://umd.edu/admissions">
            <span>Admissions &amp; Aid</span>
          </a>

          <a
            href="https://umd.edu/student-life"
            data-child-ref="student-life-41"
          >
            <span>Student Life</span>
          </a>

          <a href="https://umd.edu/research">
            <span>Research</span>
          </a>
        </div>

        <div slot="children-slides">
          <div data-parent-ref="about-35">
            <a href="https://umd.edu/about/mission">
              <span>Mission &amp; Values</span>
            </a>

            <a href="https://umd.edu/about/history" data-child-ref="history-52">
              <span>Traditions &amp; History</span>
            </a>

            <a href="https://umd.edu/about/inclusive-community">
              <span>Inclusive Community</span>
            </a>

            <a href="https://umd.edu/about/facts">
              <span>Facts &amp; Rankings</span>
            </a>

            <a href="https://umd.edu/about/contact">
              <span>Contact Us</span>
            </a>
          </div>

          <div data-parent-ref="history-52">
            <a href="https://umd.edu/about/university-presidents"
              ><span>University Presidents</span></a
            >

            <a href="https://umd.edu/about/landmarks"><span>Landmarks</span></a>

            <a href="https://umd.edu/about/athletics-and-events"
              ><span>Athletics Traditions</span></a
            >

            <a href="https://umd.edu/about/songs"><span>Songs</span></a>

            <a href="https://umd.edu/about/traditions-of-the-past"
              ><span>Traditions of the Past</span></a
            >

            <a href="https://umd.edu/about/signature-events"
              ><span>Signature Events</span></a
            >
          </div>

          <div data-parent-ref="academics-37">
            <a href="https://umd.edu/academics/colleges-and-schools">
              <span>Colleges &amp; Schools</span>
            </a>

            <a
              href="https://admissions.umd.edu/programs"
              rel="noopener noreferrer"
              target="_self"
            >
              <span>Undergraduate Programs</span>
            </a>

            <a
              href="https://gradschool.umd.edu/programs"
              rel="noopener noreferrer"
              target="_self"
            >
              <span>Graduate Programs</span>
            </a>

            <a href="https://umd.edu/academics/academic-support">
              <span>Academic Support</span>
            </a>
          </div>

          <div
            content-slot="slide-content-student-life-41"
            data-parent-ref="student-life-41"
          >
            <a href="https://umd.edu/student-life/housing-and-dining">
              <span>Housing &amp; Dining</span>
            </a>

            <a href="https://umd.edu/student-life/athletics-and-recreation">
              <span>Athletics &amp; Recreation</span>
            </a>

            <a href="https://umd.edu/student-life/student-organizations">
              <span>Student Organizations</span>
            </a>

            <a href="https://umd.edu/visit">
              <span>Visit</span>
            </a>
          </div>

          <div data-parent-ref="utility-dropdown-13383">
            <a
              href="https://provost.umd.edu/calendar"
              rel="noopener noreferrer"
              target="_blank"
            >
              <span>Academic Calendar</span>
            </a>

            <a
              href="https://identity.umd.edu/search"
              rel="noopener noreferrer"
              target="_blank"
            >
              <span>Directory</span>
            </a>

            <a
              href="https://testudo.umd.edu/"
              rel="noopener noreferrer"
              target="_blank"
            >
              <span>Testudo Student Portal</span>
            </a>

            <a
              href="https://elms.umd.edu/"
              rel="noopener noreferrer"
              target="_blank"
            >
              <span>ELMS-Canvas</span>
            </a>
          </div>
        </div>

        <div slot="slide-content-student-life-41">
          <div class="umd-shell-nav-promo">
            <a
              href="https://umd.edu/art"
              class="umd-shell-nav-promo-img"
              aria-label="The Arts, 4 dancers backlit in orange"
            >
              <img
                src="https://umd-main.transforms.svdcdn.com/production/umd/images/default/dancers-in-silo.jpg?w=1800&amp;h=1198&amp;auto=compress&amp;fit=crop&amp;dm=1731088507&amp;s=a2d24b932e73ef9e3b88db938c5a3e98"
                alt="4 dancers backlit in orange"
                style="object-position: 50% 50%"
              />
            </a>

            <div class="umd-shell-nav-promo-content">
              <a
                class="umd-shell-nav-promo-headline umd-interactive-sans-small umd-slidein-underline-black inline-block"
                href="https://umd.edu/art"
              >
                <span>The Arts</span>
              </a>

              <div class="umd-shell-nav-promo-text umd-rich-text">
                <p>UMD is home to a vibrant arts community</p>
              </div>
            </div>
          </div>
        </div>

        <div slot="primary-slide-secondary-links">
          <a
            href="https://umd.edu/visit"
            aria-label="Info for visitors to UMD's College Park campus"
          >
            <span aria-hidden="true">Visit</span>
          </a>

          <a
            href="https://giving.umd.edu/"
            rel="noopener noreferrer"
            target="_self"
            aria-label="Donate to UMD"
          >
            <span aria-hidden="true">Give</span>
          </a>

          <a
            href="https://umterps.com/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Visit the UMD Athletics website"
          >
            <span aria-hidden="true">Athletics</span>
          </a>

          <a
            href="https://today.umd.edu/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Visit the Maryland Today website for UMD news"
          >
            <span aria-hidden="true">News</span>
          </a>

          <p data-child-ref="utility-dropdown-13383">
            <span>Quicklinks</span>
          </p>
        </div>

        <div slot="primary-slide-content">
          <a
            class="flex gap-sm items-center justify-between mx-sm mb-md umd-sans-large text-black hover:text-red transition-colors duration-500"
            href="https://search.umd.edu/"
            aria-label="Search UMD websites"
          >
            <span aria-hidden="true">Search</span>

            <svg
              class="fill-gray-darker flex-none h-[20px] w-[20px]"
              aria-hidden="true"
              width="96"
              height="96"
              viewBox="0 0 96 96"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M79.3401 42.2306C79.3401 54.1438 69.6826 63.8013 57.7694 63.8013C45.8562 63.8013 36.1987 54.1438 36.1987 42.2306C36.1987 30.3174 45.8562 20.6599 57.7694 20.6599C69.6826 20.6599 79.3401 30.3174 79.3401 42.2306ZM91 42.2306C91 60.5833 76.1222 75.4612 57.7694 75.4612C51.3447 75.4612 45.3458 73.6379 40.2619 70.4806L24.2216 86.5209H5L30.2245 60.8255C26.6351 55.5189 24.5388 49.1195 24.5388 42.2306C24.5388 23.8778 39.4167 9 57.7694 9C76.1222 9 91 23.8778 91 42.2306Z"
              ></path>
            </svg>
          </a>
        </div>

        <div slot="utility-navigation">
          <div class="umd-shell-utility-item">
            <div class="umd-shell-utility-actions">
              <a
                class="umd-sans-smaller"
                href="https://umd.edu/visit"
                aria-label="Info for visitors to UMD's College Park campus"
              >
                <span aria-hidden="true">Visit</span>
              </a>
            </div>
          </div>

          <div class="umd-shell-utility-item">
            <div class="umd-shell-utility-actions">
              <a
                class="umd-sans-smaller"
                href="https://giving.umd.edu/"
                rel="noopener noreferrer"
                target="_self"
                aria-label="Donate to UMD"
              >
                <span aria-hidden="true">Give</span>
              </a>
            </div>
          </div>

          <div class="umd-shell-utility-item">
            <div class="umd-shell-utility-actions">
              <a
                class="umd-sans-smaller"
                href="https://umterps.com/"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Visit the UMD Athletics website"
              >
                <span aria-hidden="true">Athletics</span>
              </a>
            </div>
          </div>

          <div class="umd-shell-utility-item">
            <div class="umd-shell-utility-actions">
              <a
                class="umd-sans-smaller"
                href="https://today.umd.edu/"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Visit the Maryland Today website for UMD news"
              >
                <span aria-hidden="true">News</span>
              </a>
            </div>
          </div>

          <div class="umd-shell-utility-item">
            <div class="umd-shell-utility-actions">
              <button
                class="umd-sans-smaller"
                aria-controls="entry-utility-dropdown-13383"
                aria-expanded="false"
                aria-label="Toggle for Quicklinks links"
              >
                <span aria-hidden="true">Quicklinks</span>
                <svg
                  aria-hidden="true"
                  title="Arrow pointing down"
                  width="11"
                  height="7"
                  viewBox="0 0 11 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.3136 3.70222L8.16278 0.5L10.625 0.500009L6.63731 5.18995L6.63916 5.19202L5.31635 6.75L5.3136 6.74677L5.31086 6.74999L3.98805 5.19201L3.98989 5.18995L0.00221157 0.500005L2.46443 0.500007L5.3136 3.70222Z"
                  ></path>
                </svg>
              </button>
            </div>

            <div
              id="entry-utility-dropdown-13383"
              class="umd-shell-utility-links"
              aria-hidden="true"
            >
              <a
                class="umd-sans-smaller"
                href="https://provost.umd.edu/calendar"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span>Academic Calendar</span>
              </a>

              <a
                class="umd-sans-smaller"
                href="https://identity.umd.edu/search"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span>Directory</span>
              </a>

              <a
                class="umd-sans-smaller"
                href="https://testudo.umd.edu/"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span>Testudo Student Portal</span>
              </a>

              <a
                class="umd-sans-smaller"
                href="https://elms.umd.edu/"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span>ELMS-Canvas</span>
              </a>
            </div>
          </div>
        </div>

        <umd-element-nav-item slot="nav-item-0">
          <a id="about-35" href="https://umd.edu/about" slot="primary-link">
            <span>About</span>
          </a>

          <div slot="dropdown-links">
            <a href="https://umd.edu/about" aria-label="About">
              <span aria-hidden="true">Overview</span>
            </a>

            <a href="https://umd.edu/about/mission">
              <span>Mission &amp; Values</span>
            </a>

            <a href="https://umd.edu/about/history">
              <span>Traditions &amp; History</span>
            </a>

            <a href="https://umd.edu/about/inclusive-community">
              <span>Inclusive Community</span>
            </a>

            <a href="https://umd.edu/about/facts">
              <span>Facts &amp; Rankings</span>
            </a>

            <a href="https://umd.edu/about/contact">
              <span>Contact Us</span>
            </a>
          </div> </umd-element-nav-item
        ><umd-element-nav-item slot="nav-item-1">
          <a
            id="academics-37"
            href="https://umd.edu/academics"
            slot="primary-link"
          >
            <span>Academics</span>
          </a>

          <div slot="dropdown-links">
            <a href="https://umd.edu/academics" aria-label="Academics">
              <span aria-hidden="true">Overview</span>
            </a>

            <a href="https://umd.edu/academics/colleges-and-schools">
              <span>Colleges &amp; Schools</span>
            </a>

            <a
              href="https://admissions.umd.edu/programs"
              rel="noopener noreferrer"
              target="_self"
            >
              <span>Undergraduate Programs</span>
            </a>

            <a
              href="https://gradschool.umd.edu/programs"
              rel="noopener noreferrer"
              target="_self"
            >
              <span>Graduate Programs</span>
            </a>

            <a href="https://umd.edu/academics/academic-support">
              <span>Academic Support</span>
            </a>
          </div> </umd-element-nav-item
        ><umd-element-nav-item slot="nav-item-2">
          <a
            id="admissions-39"
            href="https://umd.edu/admissions"
            slot="primary-link"
          >
            <span>Admissions &amp; Aid</span>
          </a> </umd-element-nav-item
        ><umd-element-nav-item slot="nav-item-3">
          <a
            id="student-life-41"
            href="https://umd.edu/student-life"
            slot="primary-link"
          >
            <span>Student Life</span>
          </a>

          <div slot="dropdown-links">
            <a href="https://umd.edu/student-life" aria-label="Student Life">
              <span aria-hidden="true">Overview</span>
            </a>

            <a href="https://umd.edu/student-life/housing-and-dining">
              <span>Housing &amp; Dining</span>
            </a>

            <a href="https://umd.edu/student-life/athletics-and-recreation">
              <span>Athletics &amp; Recreation</span>
            </a>

            <a href="https://umd.edu/student-life/student-organizations">
              <span>Student Organizations</span>
            </a>

            <a href="https://umd.edu/visit">
              <span>Visit</span>
            </a>
          </div>

          <div slot="dropdown-callout">
            <div class="umd-shell-nav-promo">
              <a
                href="https://umd.edu/art"
                class="umd-shell-nav-promo-img"
                aria-label="The Arts, 4 dancers backlit in orange"
              >
                <img
                  src="https://umd-main.transforms.svdcdn.com/production/umd/images/default/dancers-in-silo.jpg?w=1800&amp;h=1198&amp;auto=compress&amp;fit=crop&amp;dm=1731088507&amp;s=a2d24b932e73ef9e3b88db938c5a3e98"
                  alt="4 dancers backlit in orange"
                  style="object-position: 50% 50%"
                />
              </a>

              <div class="umd-shell-nav-promo-content">
                <a
                  class="umd-shell-nav-promo-headline umd-interactive-sans-small umd-slidein-underline-black inline-block"
                  href="https://umd.edu/art"
                >
                  <span>The Arts</span>
                </a>

                <div class="umd-shell-nav-promo-text umd-rich-text">
                  <p>UMD is home to a vibrant arts community</p>
                </div>
              </div>
            </div>
          </div> </umd-element-nav-item
        ><umd-element-nav-item slot="nav-item-4">
          <a
            id="research-45"
            href="https://umd.edu/research"
            slot="primary-link"
          >
            <span>Research</span>
          </a>
        </umd-element-nav-item></umd-element-navigation-header
      >
    </div>
  </umd-element-navigation-sticky>
</header>
